body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Hind', sans-serif;
    font-size:19px;
    background: url('../img/fabric_of_squares_gray.png');
}
div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.carousel-indicators li{
    border:1px solid rgba(250, 166, 26, 0.5);
    width: 25px;
    height: 25px;
    transition: all 0.3s linear;
    border-radius: 15px;
}
.carousel-indicators li.active {
    background-color:  rgba(250, 166, 26, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

h1, h2, h3, h4, h5
{
    font-family: Gabriela;
    font-weight: 100;
}
h1
{
    font-size: 2em;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.navbar-nav li
{
    line-height: 60px;
}
.navbar-nav li:hover
{
    background: #A25324;
}
.navbar-nav li a
{
    line-height: 30px;
}
.navbar
{
    background: rgba(162, 83, 36, 1);

}
.navbar-inverse .navbar-nav > li > a
{
    color:white;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s linear;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #F7961E;
    background: white;
}
.navbar-header{
    background:#FFFFFF;
}
.navbar-brand{
    padding: 5px 5px;
}
.navbar-brand img{
    height:50px;
}
.navbar-inverse .navbar-brand
{
    color:rgb(51, 51, 51);
}
.navbar-nav.navbar-right:last-child{
    margin-right:0;
}

.brazowy {
    background: #dcddde;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
}
.brazowy textarea
{
    resize: none;
    color: black;
}
.form-control {
    color: black;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
}
.navbar-inverse{
    border:none;
}

.kropki
{
    list-style: circle;
}
.kropki li{
    color:brown;
}
.kropki li p{
    color:rgb(51, 51, 51);
}
#carousel{
    position:absolute;
    left:0;
    top:0;
    width:100%;
}
#carousel .slider {
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
@media screen and (min-width: 992px){

    #carousel .slider {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
}
#carousel h2{
    font-size: 3em;
    text-transform: uppercase;
}
#carousel p{
    font-size: 2.6em;
    font-weight: 200;
}
#carousel .slider .first{
     padding-top:120px;
     padding-bottom:60px;
     padding-left:60px;
     padding-right:30px;
 }
#carousel .slider .second{
    margin-top:60px;
    margin-bottom:60px;
    margin-left:30px;
    margin-right:60px;
    padding:30px;
}
#carousel .slider .first-invert{

    margin-top:60px;
    margin-bottom:60px;
    margin-left:30px;
    margin-right:60px;
    padding:30px;

}
#carousel .slider .second-invert{
    padding-top:120px;
    padding-bottom:60px;
    padding-left:60px;
    padding-right:30px;
}
#carousel .fa-smile-o{
    font-size: 500px;
    color: #F7961E;
}

#carousel .fa-phone-square{
    font-size: 400px;
    color: #F7961E;
}

.miniatura, .text{
    height:400px;

}
.miniatura{
    position:relative;
    width:100%;
    display: block;
}
.miniatura img {
    max-width: 100%;
    max-height: 100%;
}
.text{

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding:10%;
}
.miniatura{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }
#news>div>div{
    padding:0;
    margin:0;
}

h1{
    padding-top:15px;
    padding-bottom:15px;
    margin-top:0;
    margin-bottom:0;

}
#news h1, #news-single h1 {
    background: rgba(247, 150, 30, 0.7);
    color: white;
}
.thumbnail{
    max-width: 100%;
    max-height: 100%;
}
#news-single .max{
    padding:5% 0 5% 5%;
}
#news-single .rest{
    padding: 5% 5% 5% 0;
}
#news-single .description{
    padding:3%;
}
#news-single .description-single{
    padding:5%;
}
@media screen and (min-width:1024px ) {
    .flex-content{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }
}
footer{
    color: rgba(162, 83, 36, 1);
    position: absolute;
    height:44px;
    width:100%;
    background: rgba(254, 189, 17, 0.25);
    padding-top:12px;
}
footer p {
    text-align: right;
}

