body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Hind', sans-serif;
    font-size:19px;
}
div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
hr{
    border: 1px solid #A25324;
}
h1, h2, h3, h4, h5
{
    font-family: Gabriela;
    font-weight: 100;
}
h1
{
    font-size: 2em;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.navbar-nav li
{
    line-height: 60px;
}
.navbar-nav li:hover
{
    background: #A25324;
}
.navbar-nav li a
{
    line-height: 30px;
}
.navbar
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a25324+0,fff200+100&0.82+0,0.8+100 */
    background: -moz-linear-gradient(top,  rgba(162,83,36,0.82) 0%, rgba(255,242,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(162,83,36,0.82) 0%,rgba(255,242,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(162,83,36,0.82) 0%,rgba(255,242,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1a25324', endColorstr='#ccfff200',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);

}
.navbar-inverse .navbar-nav > li > a
{
    color:rgb(51, 51, 51);
}
.bloczek
{
    height:300px;
    background:red;
}
.bloczekdwa
{
    height:300px;
    background:blue;
}
.navbar-inverse .navbar-brand
{
    color:rgb(51, 51, 51);
}


.brazowy {
    background: #dcddde;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
}
.brazowy textarea
{
    resize: none;
    color: black;
}
.form-control {
    color: black;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
}
.navbar-inverse{
    border:none;
}

.kropki
{
    list-style: circle;
}
.kropki li{
    color:brown;
}
.kropki li p{
    color:rgb(51, 51, 51);
}

.slider {
    width: 100%;
}

