html, body {
    height: 100%;
}
body {
    padding-top: 60px;
    font-family: 'Hind', sans-serif;
    font-size:19px;
    background: url('../img/fabric_of_squares_gray.png');
}
div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.carousel-indicators li{
    border:1px solid rgba(250, 166, 26, 0.5);
    width: 25px;
    height: 25px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border-radius: 15px;
}
.carousel-indicators li.active {
    background-color:  rgba(250, 166, 26, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

h1, h2, h3, h4, h5
{
    font-family: Marcellus;
    font-weight: 100;
}
h1
{
    font-size: 2em;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.navbar-nav li
{
    line-height: 60px;
}
.navbar-nav li:hover
{
    background: #A25324;
}
.navbar-nav li a
{
    line-height: 80px;
}
.navbar
{
    height: 130px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: white;
    border-top:10px solid #A25324;
    border-bottom:10px solid #F7961E;
}
.navbar-inverse .navbar-nav > li > a
{
    color:#A25324;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: white;
    background: #F7961E;
}
.navbar-header div#title
{
    display: none;
}
@media screen and (min-width: 1200px)
{
.navbar-header div#title{
    height: 110px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-weight: 600;
    float:left;
    width:300px;
    color: #A25324;
    text-transform: uppercase;
    text-align: center;
    //flex
display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    //flexend
}
}

.navbar-brand{
    padding: 5px 5px;
}
.navbar-brand img{
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height:100px;
}
.navbar-inverse .navbar-brand
{
    color:rgb(51, 51, 51);
}
.navbar-nav.navbar-right:last-child{
    margin-right:0;
}

.brazowy {
    background: #dcddde;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.5);
}
.brazowy textarea
{
    resize: none;
    color: black;
}
.form-control {
    color: black;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
}

.kropki
{
    list-style: circle;
}
.kropki li{
    color:brown;
}
.kropki li p{
    color:rgb(51, 51, 51);
}



.miniatura, .text{
    height:460px;

}
.miniatura{
    position:relative;
    width:100%;
    display: block;
}
.miniatura img {
    max-width: 100%;
    max-height: 100%;
}
.text{

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding:10%;
}
.miniatura{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }
#news>div>div{
    padding:0;
    margin:0;
}

h1{
    padding-top:15px;
    padding-bottom:15px;
    margin-top:0;
    margin-bottom:0;

}
#news h1, #news-single h1, h1.page-title {
    background: rgba(247, 150, 30, 0.7);
    color: white;
}
.thumbnail{
    max-width: 100%;
    max-height: 100%;
}
#news-single .max{
    padding:5% 0 5% 5%;
}
#news-single .rest{
    padding: 5% 5% 5% 0;
}
#news-single .description{
    padding:3%;
}
#news-single .description-single{
    padding:5%;
}
@media screen and (min-width:1024px ) {
    .flex-content{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }
}
.subsite{
    padding-left:2%;
    padding-right:2%;
}
footer{
    border-top:10px solid #F7961E;
    background:#A25324;
}
footer p{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-weight: 300;
}
.page-wrap {
    min-height: 100%;
    margin-top: 70px;
    /* equal to footer height */
    margin-bottom: -100px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 100px;
}
#quick_contact_start,
#quick_contact_end{
    visibility: hidden;
}
.carousel-inner{
    margin-top: -60px;
    height:460px;
}
.carousel-indicators{
    width:inherit;
    position: absolute;
    right:5%;
    left:auto;
}
.box{
    padding:50px;
}
#quick-contact h2.title{
    background: #A25324;
    color: #F7961E;
    text-transform: uppercase;
    padding:25px;
    font-weight:500;
}
#quick-news h2.title{
    background: #F7961E;
    color: #A25324;
    text-transform: uppercase;
    padding:25px;
    font-weight: 500;
}
#quick-contact .box-content{
    padding-top: 15px;
    border-top:15px solid #F7961E;
}
#quick-news .box-content{
    padding-top: 15px;
    border-top:15px solid #A25324
}
#quick-news .text{
    padding: 0;
    height:240px;
    text-align: left;
    -webkit-align-items:flex-start;
    align-items: left;
}
.minimal{
    height:68px;
    border-top: 5px solid #A25324;
    border-bottom: 5px solid #F7961E;
}
.minimal .navbar-brand img {
    height: 50px;
}
.minimal .navbar-header div#title
{
    height:60px;
}
.minimal .navbar-nav li a {
    line-height: 30px;
}

.navbar-toggle{
    margin-top: 35px!important;
    margin-right: 35px!important;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.minimal .navbar-toggle {
    margin-top: 10px!important;
    margin-bottom: 8px!important;
    margin-right: 16px!important;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.item-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 460px;
}
.carousel-caption{
 position: absolute;
    left:0;
    bottom:0;
    right: inherit;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 40px;
}
a#mikolow{
    color:white;
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background: #A25324;
        border: 0!important;
    }
    .navbar-toggle .icon-bar{
        background: #F7961E;
    }
    .navbar-collapse {
    }
    .navbar-fixed-top {
        top: 0;

    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        background:white;
        text-align: center;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}