:Location /*.php
Use php56
:Location

RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?ddp.mikolow\.eu$ [NC]
RewriteCond %{REQUEST_FILENAME} !/public/
RewriteRule ^(.*)$ /public/$1 [L]

order deny,allow
deny from all
allow from 89.68.3.107
allow from 89.25.164.98
allow from 194.9.52.187
allow from 89.72.226.193
